html, body,p{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font-family: Verdana, Tahoma, sans-serif;
	background-color: #999;
	min-width:900px; 
	position:relative;
}
header{
	background: #222;
	height: 100px;
	color: #fff;
	font-size: 3em;
}
header p{
	display: inline-block;
	padding-left: 100px;
	margin-top:15px;
}
header ul{
	list-style: none;
	display: inline-block;
	margin-top:50px;
	padding: 0px;
	margin-right: 50px;
	font-size: 0.3em;
	float: right;
}
header li{
	display: inline;
	padding: 10px 50px;
	border: 3px solid #fff;
	border-radius: 50px;
}
header li:hover{
	color:#000;
	background-color: #fff;
	-weblit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
header a{
	text-decoration: none;
	color: inherit;
}


.container{
	margin: 10px auto;
	padding: 20px;
	width: 510px;
	border: 10px solid #aaa;
	border-radius:50px;
	background-color: #eee;
}
#input{
	width:50%;
	margin:10px auto;
	border: 5px solid #aaa;
	padding: 10px;
	border-radius: 20px;
}
#input label, #input input, #input textarea{
	display: block;
	width:95%;
	padding: 3px 0px 3px 0px;
}
#input input[type='submit']{
	width: 99%;
	padding: 10px;
	color: black;
	border-radius: 50%;
	border: 1px solid #000;
	background-color: #aaa;
	margin-top: 5px;
}
#input input[type='submit']:hover{
	background-color: #cfc;
}
#messages{
	width: 500px;
	height: 500px;
	margin-top: 30px;
	border: 3px solid #ccc;
	border-radius: 10px;
	overflow: auto;
	padding: 10px;
}
.msg-wrap{
	border-bottom: 2px solid #ccc;
	padding:10px;
}
.snd{
	font-size: 0.7em;
}
.msg{
	font-size: 1.2em;
}
#feedback{
	padding: 20px;
	border: 3px solid #cfc;
	background-color: #cfc;
	border-radius: 10px;
	display: none;
	width:400px;
	word-wrap:break-word;
	position: absolute;
	bottom:50px;
	left:50px;
	color:#0f0;
	font-size: 1.5em;
}


#div_registration{
	position: absolute;
	top: -10px;
	display: none;
	opacity: 0;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 10;
	box-shadow: 0px 0px 150px #fff inset;
}
#form_reg{
	position: absolute;
	display: inline-block;
	/*margin:0 auto;*/
	left: 45%;
	top:20%;
	width: 300px;
	padding: 10px;
	opacity: 1;
	color: #fff;
}
#form_reg *{
	display: block;
	margin-top: 10px;
	width: 234px;
	border-radius: 3px;
}
#form_reg input[type="submit"]{
	padding: 10px;
	color: #000;
	font-weight: bold;
}